* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6rem;
    font-weight: 100;
    font-family: 'Great Vibes', cursive;
    color: rgb(75,134,216);
    text-align: center;
    padding: 40px 0;
}

#banner-area {
    background-image: linear-gradient(rgb(237, 229, 37), rgb(164, 102, 55));
}

#container {
    background-color: rgb(164, 102, 55);
    height: 1000px;
}

img {
    vertical-align: middle;
}

form {
    display: block;
    width: 70%;
    margin: auto;
}

label {
    display: inline-block;
    width: 15%;
}

input {
    margin-bottom: 20px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(237, 229, 37);
    display: inline-block;
    border: none;
}

textarea {
    border-radius: 5px;
    background-color: rgb(237, 229, 37);
}

table {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 10px;
}
input[type=radio] {
    transform: scale(1.5);
    margin: 10px;
}
label > img {
    height: 60px;
}
fieldset > label {
    text-align: center;
    width:33%;
}
fieldset > div {
    margin: 50px;
    display: inline;
}
td > input {
    margin: 5px;
}
.quantity-entry {
    width: 30px;
}
table img {
    margin-left: 10px;
}

tr:nth-child(odd) {
    background-color: rgb(164, 102, 79);
}

#address-div {
    margin-bottom: 20px;
}

#total-div {
    margin-left: 450px;
}

#total-output {
    width: 100px;
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    background-color: #555555;
    color: white;
}

